#slider{
  margin:0;
  padding:0; 
}

.skdslider {
  max-width: 1600px; margin: auto;
  position: relative;
  display: block;
  overflow:hidden;
}
.skdslider .slide {
   display: none;
}
.skdslider .slide img {
   width: 100%;
   height:100%;
   border:0;
}

.skdslider ul.slide-navs {
    bottom: 20px;
    left: 50%;
    position: absolute;
	  list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.skdslider ul.slide-navs li {
  float: left;
	background: url("../images/slide-bg.png") no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider ul.slide-navs li.active {
  background: url("../images/slide-bg-active.png") no-repeat scroll 0 0 transparent;
}

.skdslider .slide-desc {
    position: absolute;
    top: 10%;
    left: 8%;
    max-width: 45%;
	  display:inline-block;
}
.skdslider .slide-desc > h2 {
    color: #fff;
    font-size: 64px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'OpenSansBold';
    line-height: 64px;
}

.skdslider .slide-desc > p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
.skdslider .slide-desc > p a.more {
  color:#990000;
	font-size:20px;
	text-decoration:none;
}
.skdslider .slide-desc > p a.more:hover {
  text-decoration:underline;
}

.skdslider a.prev{
  background: url("../images/left.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:2%;
	margin-top:-17px;
}

.skdslider a.next{
  background: url("../images/right.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:2%;
	margin-top:-17px;
}
.skdslider a.prev:hover {
  
}
.skdslider a.next:hover {
  
}

.skdslider a.play {
    background: url("../images/play.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

.skdslider a.pause{
  background: url("../images/pause.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}
/*Some Responsive CSS */
@media screen and (max-width: 1248px) {
	.skdslider .slide-desc > h2{
		font-size: 60px;
	}
}

@media screen and (max-width: 1180px) {
	.skdslider .slide-desc > h2{
		font-size: 44px;
		line-height: 45px;
	}
}
@media screen and (max-width: 979px) {
	.skdslider .slide-desc > h2{
		font-size: 34px;
		line-height: 40px;
	}
}
@media screen and (max-width:767px) {

	.skdslider .slide-desc{ max-width: 70%; top: 0; }
	.skdslider .slide-desc > h2 {
		font-size: 18px;
		margin-bottom: 5px;
		margin-top: 5px;
		line-height: normal;
	}
	
	.skdslider .slide-desc > p {
		font-size: 14px;
		line-height: 15px;
		margin-top: 5px;
	}
	.skdslider .slide-desc > p a.more {
		font-size:14px;
	}
	.skdslider ul.slide-navs{ display: none; }
	.skdslider a.prev,.skdslider a.next{ width: 20px; height: 20px; background-size: 20px; }
}