@mixin commoncode{
	text-transform:capitalize;
}

@mixin headercode($bgcolor, $colorchng){
	width:100% - 20%;
	height: 70vh;
	margin:0 auto;
	background-color:$bgcolor;
	color:$colorchng;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}